In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
import joblib

In [5]:
# Load dataset
df = pd.read_csv('car_sales_data.csv')

In [7]:
df.head(10)

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105
5          VW         Up!    1000     929  105
6       Skoda       Fabia    1400    1109   90
7    Mercedes     A-Class    1500    1365   92
8        Ford      Fiesta    1500    1112   98
9        Audi          A1    1600    1150   99

In [8]:
# Preprocessing
df = df.dropna()  # Remove missing values
X = df[['Model', 'Volume', 'Weight','CO2']]  # Features
y = df['Car']  # Target variable

In [9]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
Index: 28 entries, 8 to 28
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Model   28 non-null     object
 1   Volume  28 non-null     int64
 2   Weight  28 non-null     int64
 3   CO2     28 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.1+ KB
None

In [14]:
print(X_train.dtypes)

Model     object
Volume     int64
Weight     int64
CO2        int64
dtype: object

In [15]:
# Fill missing values
X_train = X_train.fillna(0)

# Alternatively, drop rows with missing values

In [24]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Example DataFrame
data = pd.DataFrame({
    'sqft': [1000, 1200, 1500],
    'bedrooms': [2, 3, 4],
    'location': ['Fiesta', 'Oasis', 'Fiesta'],
    'price': [200000, 250000, 300000]
})

# Split data into features and target
X = data[['sqft', 'bedrooms', 'location']]
y = data['price']

# Encode categorical column
encoder = LabelEncoder()
X['location'] = encoder.fit_transform(X['location'])

# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

print("Model trained successfully!")

Model trained successfully!

C:\Users\Nikshit.G.Joshi\AppData\Local\Temp\ipykernel_12340\2011424851.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['location'] = encoder.fit_transform(X['location'])

In [25]:
#test the model
y_pred = model.predict(X_test)
print(y_pred)

[271000.]

In [26]:
#importing accuracy models
from sklearn.metrics import accuracy_score, confusion_matrix

In [27]:
#accuracy metrics - >
print(accuracy_score(y_test,y_pred))

0.0

In [30]:

with open('car_model.pkl','wb') as f:
    pickle.dump(model,f)